.rapi-table{
    width:100%;
    border-collapse: collapse;
}

.rapi-table > thead > tr
{
    background-color:#d0d0d0;
    color:#fff;
    text-align: left;
}

.rapi-table th, .rapi-table td{
    padding:5px;
    border:1px solid #d0d0d0;
}

.rapi-column-double{
    text-align: right;
}

.rapi-total-row{
    font-weight: bold;
    background-color:#fcfcfc;
    border-top:2px solid #d0d0d0;
    border-bottom:4px solid #d0d0d0;
}

.rapi-text-title{
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 5px;
}